body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.7;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
}

p {
    font-size: 1.05rem;
    line-height: 1.75;
}

/* =======================================
   NAVBAR
======================================= */
.navbar {
    width: 100%;
    background: #ffffff;
    padding: 5px 20px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;     /* space-between → flex-start */
    justify-content: center;
    align-items: center;
    gap: 0px;                       /* logo ile menü arası kontrollü boşluk */
    gap: 20px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar > * {
    margin: 0 15px;
}


.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #003366;
}

/* Desktop Menu */
.nav-links {
    display: flex;
    gap: 5px;
    gap: 18px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    font-weight: 600;
}

.nav-links a:hover {
    color: #0066cc;
}

/* Mobile Menu Button */
.menu-btn {
    display: none;
    font-size: 1.9rem;
    cursor: pointer;
}

/* MOBILE OVERLAY MENU */
.mobile-menu {
    display: none;
    flex-direction: column;
    background: white;
